*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu";
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

input label {
  overflow: hidden;
}

.header {
  position: fixed;
  height: 74px;
  width: 100%;
  transition: height 0.3s ease-out, background 0.3s ease-out,
    box-shadow 0.3s ease-out;
  transform: translate3d(0, 0, 0);
  z-index: 1040;
}

/* header.container-fluid {
  position: fixed;
} */

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* text-align: left; */
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.container {
  width: 100%;

  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.fullscreen .container,
.fullscreen .container > .row,
.module-cover-slides .container,
.module-cover-slides .container > .row {
  height: 100%;
}

.module-cover .container {
  position: relative;
  z-index: 1;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}

.row222 {
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}

.navbar {
  height: 8%;
  background-color: #191350;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: none;
}

/* .navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
} */

a {
  text-decoration: none;
  background-color: transparent;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.navbar .navbar-nav .nav-link {
  padding-right: 10px;
  padding-top: 1px 0;
  padding-left: 0.5rem;
  color: yellow;
  font-size: 20px;
  margin-right: 60px;
}

.nav2 button {
  padding: 9px 20px;
  background-color: yellow;
  border: 10px yellow;
  color: rgb(38, 18, 59);
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border-radius: 55px;
  font-stretch: expanded;
  cursor: pointer;
}

.nav3border li {
  border: 10px yellow solid;
  background: white;
}

/* ul.navbar-nav a:hover {
  background-color: yellow;
  color: #1b1c3f;
} */

.nav2 button:hover {
  background-color: #1b1c3f;
  color: #fffb00;
  border: 2px yellow solid;
}

.checkbtn {
  color: yellow;
  font-size: 25px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

.fullscreen,
.module-cover-slides {
  padding: 0;
  height: 100vh;
}

.module-cover,
.module-cover-slides {
  letter-spacing: 0.03125rem;
  font-size: 0.9375rem;
}
.module-cover {
  position: relative;
  padding: 240px 0 240px;
}
.parallax {
  background-color: transparent;
}
.module,
.module-cover {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  padding: 10px 0 10px 10px;
}

.fullscreen .container > .row,
.module-cover-slides .container > .row {
  -ms-flex-align: center;
  align-items: center !important;
}

.parallax:not(.bg-light) h1,
.parallax:not(.bg-light) .h1,
.parallax:not(.bg-light) h2,
.parallax:not(.bg-light) .h2,
.parallax:not(.bg-light) h3,
.parallax:not(.bg-light) .h3,
.parallax:not(.bg-light) h4,
.parallax:not(.bg-light) .h4,
.parallax:not(.bg-light) h5,
.parallax:not(.bg-light) .h5,
.parallax:not(.bg-light) h6,
.parallax:not(.bg-light) .h6,
.parallax:not(.bg-light) .blockquote-footer,
.parallax:not(.bg-light) .counter .counter-icon {
  color: #fff;
}

.text-center {
  text-align: center !important;
}

.col-12 {
  justify-content: center;
}

/* .textcolor h1,
h3 {
  color: white;
  padding-left: 10px;
  text-align: center;
} */

.module-cover .btn,
.module-cover-slides .btn {
  margin: 2px 10px 2px 0;
}

.btn.btn-circle {
  border-radius: 1.875rem;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
  font-size: 0.75rem;
  cursor: pointer;
}

/* .btn-lg,
.btn-group-lg > .btn {
  padding: 1.1875rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
} */
.btn-brand {
  color: #fff;
  background-color: yellow;
  border: solid 2px yellow;
}
.btn {
  display: inline-block;
  border: solid 2px yellow;
  font-weight: 600;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem 1.875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .m-b-40 {
  align-content: center;
  
} */

.btn-outline-new-white {
  color: white;
  border-color: white;
}

.btn:hover {
  color: #000000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.col-md-12 {
  padding-left: 10px;
}

.text-center {
  text-align: center !important;
}

.ndsection {
  background-image: url(../images/middlenewest.jpg);
  background-repeat: no-repeat;
  height: 100%px;
  width: 100%;
  transition: padding 0.3s linear;
  overflow: hidden;
}

.ndsection2 {
  background-image: url(../images/newfooter.png);
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  transition: padding 0.3s linear;
  overflow: hidden;
}

.brillanteffect {
  text-align: center;
  margin-top: 10px;
  padding: 0 60px;
  font-weight: 700;
  font-size: 20px;
}

.brillanteffect h2 {
  font-size: 40px;
  padding-bottom: 0px;
  font-weight: 600;
}

.vl {
  border-left: 0.5px solid #000000;
  height: 400px;
  margin-left: -3px;
}

.boxnew {
  padding: 0 20px;
  padding-bottom: 0;
}

div.uiuxframe {
  padding-bottom: 50px;
}

.boxnew-content {
  margin-left: 20px;
}

.boxnew-inside {
  padding: 0 30px;
  padding-top: 50px;
  margin: 50px;
}

.about-box {
  text-align: center;
}

h2.titlespaced {
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 50px;
}

h5.titlespaced2 {
  padding-bottom: 55px;
  font-size: 20px;
}

button.is-primary.is-outlined {
  margin-top: 50px;
  background-color: transparent;
  border-color: #7510f7;
  border: 1px solid;
  color: #007bff;
  font-size: 17px;
  border-radius: 15px;
  padding: 5px 25px;
  color: #007bff;
}

.button22.is-primary.is-outlined {
  margin-top: 50px;
  background-color: transparent;
  border-color: #7510f7;
  border: 1px solid;
  color: #ffffff;
  font-size: 17px;
  border-radius: 15px;
  padding: 5px 25px;
  color: #ffffff;
  text-decoration: none;
}

.button22.is-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #f8f9fa;
}

button.is-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #f8f9fa;
}

.projects .project-grid .overlay {
  background-color: #141c3a;
}

h1,
.h1 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 2.625rem;
}

.text-center {
  text-align: center !important;
}

.m-auto {
  margin: 1px 8px;
  padding: 1px 7px;
  color: yellow;
  line-height: 2;
}

.m-auto2 {
  margin: 1px 20px;
  padding: 1px 20px;
  color: yellow;
  line-height: 2;
  display: block;
}

p:last-child {
  margin-bottom: 0;
}

.lead {
  letter-spacing: 0.01875rem;
}
.lead {
  font-size: 1.2375rem;
  font-weight: 400;
  color: white;
}

h1,
.h1 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 3.625rem;
}

.is-middle {
  text-align: center !important;
}

.post-item2 {
  color: rgb(38, 0, 255);
  background: rgb(240, 240, 240);
  border: 0px #0056b3 solid;
  padding: 1px 1px;
  margin: 20px 10px;
  border-radius: 2px;
  list-style: none;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35),
    inset 0 -1px 0 rgba(0, 0, 0, 0.7);
}

.post-item {
  color: rgb(0, 0, 0);
  background: white;
  border: solid 2px #0056b3;
  margin: 5px;
  padding: 15px 50px;
  margin: 50px 100px 50px 100px;
  border-radius: 10px;
}

.post-item ul li {
  list-style: none;
  text-align: center;
}

.is-skill-icon img {
  color: #007bff;
  height: 50px;
}

h4.text-project {
  color: #ffffff;
  font-size: 20px;
  padding: 0px 0;
  margin: 0 40px;
  padding-bottom: 20px;
  font-weight: 550;
  letter-spacing: 1;
  justify-content: center;
  text-align: center;
}

.texteffect a {
  margin-left: 1px;
}

.containerprojects {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 205px;
}

.image-project {
  display: block;
  height: 200px;
  width: 250px;
}

.overlayproject {
  position: absolute;
  transition: all 0.9s ease;
  opacity: 0;
  background-color: rgb(20, 13, 53);
}

.containerprojects:hover .overlayproject {
  opacity: 0.9;
}

.texteffect {
  position: absolute;
  color: white;
  top: -15%;
  left: 45%;
  transform: translate(-50%, 50%);
}

.fadeeoverlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(20, 13, 53);
}

.containerprojects:hover .fadeeoverlay {
  width: 100%;
}

.boxfooter {
  /* background-color: rgb(0, 0, 0); */
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;

  padding: 1.25rem;
}

.sectionnew.call-to-action .boxfooter {
  margin-top: -6rem;
  border-radius: 30px;
  background-color: #0a0a2c;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

h1.title {
  color: #007bff;
}

.column2 {
  display: flex;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.level-item {
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 0 22px;
  padding-left: 60px;
  display: -webkit-box;
  display: inline-flex;
  flex-basis: auto;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  justify-content: center;
}

.button3.is-primary.is-outlined {
  background-color: transparent;
  border-color: #7510f7;
  color: #7510f7;
  border: solid 2px;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
}

.button3.is-primary:hover {
  color: #fff;
  background-color: #17105f;
}

.sectionnew {
  padding: 3rem 1.5rem;
}

.sectionnew.call-to-action .title,
.sectionnew.call-to-action p {
  margin-bottom: 0;
}

.footernote {
  padding-top: -50px;
}

.sectionnew.is-primary {
  background-color: #17105f;
  width: 100%;
  /* margin-top: -3rem; */
}

.divider-dark.my-5 {
  color: white !important;
}

.mb-3 h6 a {
  color: white !important;
}

.py-3 a {
  color: white !important;
}

.mb-5,
.my-5 {
  margin-bottom: 1em !important;
  color: white !important;
}

.mt-5,
.my-5 {
  margin-top: 1rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 1rem !important;
}
.mt-5,
.my-5 {
  margin-top: 1rem !important;
}

.footernote2 {
  background: rgb(51, 51, 51);
}

.container.footertext {
  padding-top: 100px;
  margin-top: 100px;
  letter-spacing: 2px;
  color: white;
}

.footer-copyright {
  background: black;
}

.shrinksub {
  margin: 0 90px;
  padding: 0 90px;
}

.input-group-append {
  margin-left: 5px;
  margin-bottom: 10px;
}

.btnsign {
  display: inline-block;
  border: solid 2px rgb(255, 255, 255);
  font-weight: 600;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem 1.875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* #checkbtn {
  font-size: 25px;
  color: yellow;
  float: right;
  line-height: 80px;
  margin-right: 30px;
} */

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: ifooternotenline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu[x-placement^="top"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #031525;
  white-space: nowrap;
}

/* header {
  display: flex;
  justify-content: space-between;
} */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
} */

textarea {
  overflow: auto;
  resize: vertical;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

img {
  vertical-align: middle;
  border-style: none;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.post-item2 {
  padding: 2;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 0;
  max-width: 100%;
}

/* mobile 



*/

@media (max-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .m-auto h1 {
    font-size: 45px;
  }

  .boxnew-content img {
    height: 250px;
    align-items: center;
  }

  .m-auto p {
    font-size: 18px;
    padding: 0 20px;
  }

  .navbar-toggler {
    display: block;
  }

  .nav2 button {
    font-size: 12px;
    margin-right: 30px;
  }

  ul.navbar-nav {
    position: absolute;
    width: 100%;
    height: 25vh;
    background: #007bff;
    top: 80%;
    left: 50%;
    padding-right: 300px;
    padding-top: 19px;
    text-align: right;
    display: block;
    font-size: 18px;
    transition: all 0.9s;
    overflow: hidden;
  }
  ul.navbar-nav li {
    font-size: 30px;
  }

  .section1 {
    background-image: url(../images/background2.jpg);
  }

  a:hover,
  a.active {
    color: #031525;
  }

  i.fas {
    display: none;
  }

  .about-box {
    font-size: 15px;
    max-width: 80%;
  }

  .post-item {
    margin: 50px 10px 10px 150px;
  }

  .logoeffect {
    height: 150px;
    width: 150px;
    margin: 0;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 17px;
  }

  .nav2 button {
    font-size: 16px;
  }

  ul li a {
    font-size: 15px;
  }

  button {
    font-size: 10px;
  }

  .is-middle2 {
    text-align: center !important;
  }

  .boxnew-content {
    height: 150px;
  }

  .vl {
    border-left: 0px solid #000000;
    height: 400px;
    margin-left: -3px;
  }

  .boxnew-inside h4 h6 {
    text-align: center;
    justify-content: center;
  }

  .boxnew-inside {
    padding-top: 1px;
    padding-bottom: 20px;
  }
  .boxnew {
    padding: 1px;
    padding-bottom: 0;
  }

  .boxnew-content img {
    justify-content: center;
  }

  .level-item h1 {
    font-size: 40px;
  }

  /* .boxnew-content img{
      height: 10;
    } */

  .boxnew .boxnew-inside .h4 {
    font-size: 1px;
  }

  .row222 {
    display: block;

    /* flex-wrap: wrap; */
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
  }

  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .boxnew-inside {
    margin-bottom: -50px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .vl {
    border-left: 0px solid #000000;
    height: 400px;
    margin-left: -3px;
  }

  .row222 {
    display: block;

    /* flex-wrap: wrap; */
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
  }

  .boxnew-content img {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .row222 {
    display: block;

    /* flex-wrap: wrap; */
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
  }

  .boxnew-content img {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1198px;
  }
}

/* 
@media (max-width: 991.98px) {
  .module-cover,
  .module-cover.fullscreen {
    min-height: auto;
    height: auto;
    padding: 120px 0 120px;
    overflow: hidden;
  }
}

@media (max-width: 858px) {
  .module-cover,
  .module-cover.fullscreen {
    min-height: auto;
    height: auto;
    padding: 120px 0 120px;
    overflow: hidden;
  }
}

@media (max-width: 708px) {
  .module-cover,
  .module-cover.fullscreen {
    min-height: auto;
    height: auto;
    padding: 120px 0 120px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
} */
