body {
  margin: 0;
  font-family: "Poppins", Arial;
  font-weight: 400;
  line-height: 1.8;
  color: #788487;
  background-color: #fff;
}

.container {
  width: 100%;
}

nav {
  background: #0e0b2d;
  height: 75px;
  width: 100%;
  margin: 0;
}

nav img {
  margin: 22px 50px 0 20px;
}

.firstbutton button {
  float: right;
}

#hire-me {
  float: right;
  display: block;
  background-color: teal;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20ox;
}

nav ul li a {
  color: yellow;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  padding: 0 5px 0 40px;
}

/* .header {
    position: absolute;
    justify-content: space-between; */
/* height: 74px;
    align-items: center;
    width: 100%; */
/* transition: height 0.3s ease-out, background 0.3s ease-out,
      box-shadow 0.3s ease-out;
    transform: translate3d(0, 0, 0);
    z-index: 1040;
    /* background: #0e0b2d; */

/* ul li.dropdown2 {
    display: none;
  } */

/* .inner-nav > ul > li > a > .menu-span {
    transform: translateY(-50%);
    position: relative;
    display: block;
    top: 50%;
  } */

ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* .inner-nav > ul > li > a > .spaninsideport2 {
    transform: translateY(-50%);
    position: relative;
    display: block;
    top: 50%;
  }
  
  inner-nav > ul li.navtab-menu .ul-spaninside4,
  .inner-nav > ul li.navtab-menu .div-spaninside3 {
    transform: translateY(5px);
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s, visibility 0.3s 0.1s;
  }
  
  .inner-nav .div-spaninside3 {
    white-space: nowrap;
    padding: 0;
  }
  
  .inner-nav .ul-spaninside4,
  .inner-nav .div-spaninside3 {
    position: absolute;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 32px 4px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    left: 10px;
    margin-top: 5px;
    visibility: hidden;
    text-align: left;
    padding: 15px 0;
    opacity: 0;
  }
  
  .inner-nav > ul li.spaninsideportfolio .div-spaninside3 .ul-spaninside4 {
    transform: translateY(0);
    margin: 0;
  }
  
  .inner-nav .div-spaninside3 .ul-spaninside4 {
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 30px 20px;
  }
  
  .inner-nav .div-spaninside3 .ul-spaninside5 {
    position: relative;
    background: transparent;
    box-shadow: none;
    padding: 0;
    left: 0;
  }
  
  .inner-nav .div-spaninside3 .sul-spaninside4 .spaaninsideprojects {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    
  } */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  display: block;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/**########mobile compati#######*/

@media screen and (max-width: 952px) {
}

/* 
  
  header.header-transparent {
    background: #0e0b2d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #ffad0a;
  }
  
  .header .container-fluid {
    position: relative;
    height: 100%;
  }
  
  .inner-header {
    position: relative;
    height: 100%;
    float: left;
    z-index: 1;
  }
  
  .inner-brand {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  header.header-transparent.inner-brand {
    color: #ffad0a;
  }
  
  .innernav {
    height: 100%;
    right: 5px;
    left: 15px;
    text-align: center;
  }
  
  .last-nav {
    float: right;
    margin-left: 90px;
  }
  
  ul.topnav li a {
    text-decoration: none;
    font-family: "Ubuntu";
    padding: 10px 40px 10px 15px;
    line-height: 4;
    font-size: 20px;
    color: yellow;
    font-weight: 800;
    margin: 0 20px 0 00px;
    border: white 5px;
    border-radius: 50px;
  }
  
  .inner-nav,
  .last-nav {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .inner-nav > ul > li {
    position: relative;
    display: block;
    height: 100%;
    float: left;
    padding: 0 0.625rem;
    margin: 0;
  }
  
  .last-nav > ul > li {
    position: relative;
    display: block;
    height: 100%;
    float: left;
    padding: 0 0.625rem;
    margin: 0;
  }
  
  .header.header-transparent .last-nav > ul > li > a,
  .header.header-transparent .inner-nav > ul > li > a {
    color: #ffd900;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 2px 5px 2px 10px;
    text-decoration: none;
  }
  
  .header.header-transparent .inner-nav > ul > li > a {
    word-spacing: 100px;
  }
  
  .header.header-transparent .last-nav > ul > li > a {
    border: rgb(255, 255, 255) solid 2px;
    color: #0e0b2d;
    background: yellow;
    border-radius: 15px;
    margin: 5px;
    margin-top: 8px;
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
  }
  
  .firstbutton button:hover {
    background-color: rgb(26, 26, 145);
    color: white;
  }
  
  .header.header-transparent .inner-nav > ul > li > a:hover {
    background-color: rgb(255, 238, 0);
    color: #0e0b2d;
    border-radius: 15px;
    transition: 0.2s;
  }
  
  .header.header-transparent .last-nav > ul > li > a:hover {
    background-color: #0e0b2d;
    color: yellow;
    border-radius: 20px;
  }
  
  .dropdown2 {
    height: 100px;
  }
  
  .checkbtn {
    font-size: 30px;
    color: yellow;
    float: right;
    line-height: 80px;
    margin: 18px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  */
